@import './layout.scss';
* {
    padding: 0;
    margin: 0;
    border-width: 0;
}
html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
#app {
    height: 100%;
    width: 100%;
    background-color: #000;
}
.scale-enter-active,
.scale-leave-active {
  transition: all 0.5s ease;
}


.scale-enter-from,
.scale-leave-to {
  opacity: 0;
  transform: scale(0.9);
}

// 移动端强制横屏
@media screen and (orientation: portrait) {
  html {
    min-width: 100vh;
    transform: rotate(90deg);
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
@media screen and (orientation: landscape) {
  html {
    min-width: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

.dark {
  
}