@import './layout.scss';
* {
    padding: 0;
    margin: 0;
    border-width: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
#app {
    height: 100%;
    width: 100%;
    background-color: #000;
}
.scale-enter-active,
.scale-leave-active {
  transition: all 0.5s ease;
}


.scale-enter-from,
.scale-leave-to {
  opacity: 0;
  transform: scale(0.9);
}

// @media screen and (orientation: portrait) {
//   html {
//     transform: rotate(90deg);
//     width: 100vh;
//     height: 100vw;
    
//   }
// }
// @media screen and (orientation: landscape) {
//   html {
//   }
// }


.dark {
  
}