@import './layout.scss';

.demoHome {
    color: $color-black;
    background-color: white;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 50px;
    z-index: 50px;
    .left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: $font-size-m;
        img {
            height: 40px;
            width: 40px;
        } 
    }
    .go-home {
        display: inline-block;
        img {
            height: 30px;
            width: 30px;
        }
    }
}
.main {
    display: flex;
    padding-top: 50px;
    width: 100%;
    height: 100vh;
    // min-height: calc(100vh - 50px);
    //overflow-y: auto;
}
.aside {
    width: 200px;
    height: 100vh;
    padding: 15px;
    border-right: 1px solid $border-color-gray;
    background-color: #fafbfc;
    font-size: 14px;
    color: #333;
    border-right: .5px solid rgba(0,0,0,.08);
    overflow-y: auto;
    .aside-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .aside-content {
        margin-top: 10px;
        border-top: 1px solid rgba(169, 167, 167, 0.1);
    }
    
    .router-list-item {
        height: 50px;
        line-height: 50px;
        &:hover {
            color: #409EFF;
            background-color: #f3f5f7;
        }
    }
    ::v-deep .el-input .el-input__inner{
        width: 100%;
    }

    ::v-deep .el-input__prefix .el-input__icon.el-icon-search{
       display: flex;
       align-items: center;
    }
}
.content {
    flex: 1;
    padding: 20px;
}
.aside-header {
    ::v-deep input {
      width: 60%;
      height: 30px;
    }
}

.demo-content {
    height: 100vh;
    overflow-y: auto;
}

.more-select {
    height: 13px;
    width: 13px;
    background: url(../assets//icon//more.png) no-repeat 0 0;
    background-size: 100% 100%;

    &:hover {
        filter: saturate(6.49) sepia(1) invert(0.79) hue-rotate(2deg) ;
    }
}

