@import './layout.scss';
.home {
    height: 100vh;
    width: 100vw;
    background-color: $color-black;
}
.main {
    width: 100%;
    height: 100%;
}
.title {
    font-size: $font-size-xxl;
    color: $color-white;
}
.black-hall {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    animation: rotates 2s linear forwards;
    z-index:305;
}
@keyframes rotates {
    0% {
        transform: rotate(0) scale(1);
    }
    100% {
        transform: rotate(360deg) scale(0);
    }
}
.page{
    position: relative;
    display: flex;	
    height: 668px;
    width: 1366px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/bg1.jpg);
    overflow: hidden;
  }
  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 600px;
    width: 800px;	
    
  }
  .title{
    height: 80px;
    width: 100%;
    margin: 30px 0 0 100px;
    font-size: 60px;
    text-align: left;
    @supports (-webkit-background-clip: text) or (background-clip: text) {
		background: linear-gradient(to right, red, blue);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
    }
    background-size: cover;
    animation: fontColorChange 5s infinite;
  }
  @keyframes fontColorChange {
     0% {
		filter: hue-rotate(0);
     }
     100% {
		filter: hue-rotate(360deg);
     }
  }
    .sub-title{
    height: 50px;
    margin: 0 0 0 100px;
    font-size: 30px;
    opacity: 0.5;
    text-align: left;
    color: white;
    font-style: italic;
  }
  // 按钮氖光特效
  .start-btn{
    position: relative;
    height: 60px;
    margin: 10px 0 0 100px;
    font-size: 40px;
    color: #fff;
    text-align: left;
    transition: .2;
    

    &:hover {
        text-shadow: 0 0 10px #0ebeff, 0 0 20px #0ebeff, 0 0 50px #0ebeff, 0 0 100px #0ebeff, 0 0 200px #0ebeff;    }
  }
  // 波纹特效
  .start-btn::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    top: -30%;
    margin-left: -50px;
    background: #4892Fb;
    border-radius: 50%;
    opacity: 0;
    z-index: 0;
    box-shadow: 1px 1px 15px #3399ff;
    animation: wave1 1.5s linear infinite;
  }
  .start-btn::before {
    content: '';
    position: absolute;
    width: 140px;
    height: 140px;
    left: 50%;
    top: -60%;
    margin-left: -70px;
    background: #4892Fb;
    border-radius: 50%;
    opacity: 0;
    z-index: 0;
    box-shadow: 1px 1px 15px #3399ff;
    animation: wave2 1.5s linear infinite;
  }
  @keyframes wave1 {
    0% {
        transform: scale(0);
        opacity: .01;
    }
    25% {
        transform: scale(.5);
        opacity: .1;
    }
    50% {
        transform: scale(.7);
        opacity: .3;
    }
    75% {
        transform: scale(.9);
        opacity: .1;
    }
    100% {
        transform: scale(1);
        opacity: .01;
    }
  }
  @keyframes wave2 {
    0% {
        transform: scale(.8);
        opacity: .013;
    }
    25% {
        transform: scale(.8);
        opacity: .1;
    }
    50% {
        transform: scale(1);
        opacity: .2;
    }
    75% {
        transform: scale(1.2);
        opacity: .1;
    }
    100% {
        transform: scale(1.4);
        opacity: .02;
    }
  }
  .img-box {
    position: relative;
    transform-style: preserve-3d;  // 开启3d渲染

    img {
        transform-origin: 20% 30%;
        transform: rotateX(-1deg); // 3d 倾斜1deg，让ball层级遮挡
    }

  }
  .img-box,.img-box img{
    height: 600px;
    width: 380px;	
    margin: 40px 0 0 0;
    z-index: 1;
  }
  .fly{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 150px;
    animation-name: move;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes move{
      0%{
          top: 150px;
          left: 750px;
          z-index: 2;
      }
      5%{
          top: 200px;
          left: 800px;
          z-index: 2;
      }
      10%{
          top: 220px;
          left: 855px;
          z-index: 2;
      }
      20%{
          top: 230px;
          left: 905px;
          z-index: 2;
      }
      25%{
          top: 250px;
          left: 950px;
          z-index: 2;
      }
      30%{
          top: 240px;
          left: 1000px;
          z-index: 2;
      }
      40%{
          top: 200px;
          left: 1050px;
          z-index: 2;
      }
          
      45%{
          top: 180px;
          left: 1100px;
          z-index: 2;
      }
      50%{
          top: 150px;
          left: 1150px;
          z-index: 2;
          /* transform: rotateY(60deg); */
      }
      60%{
          top: 130px;
          left: 1100px;
          z-index: 0;
      }
      70%{
          top: 120px;
          left: 1050px;
          z-index: 0;
      }
      75%{
          top: 100px;
          left: 1000px;
          z-index: 0;
      }
      80%{
          top: 110px;
          left: 950px;
          z-index: 0;
      }
      85%{
          top: 120px;
          left: 900px;
          z-index: 0;
      }
      90%{
          top: 130px;
          left: 850px;
          z-index: 0;
      }
      95%{
          top: 140px;
          left: 800px;
          z-index: 0;
      }
      100%{
          top: 150px;
          left: 750px;
      }
      to{}
  }
      
  .fly img{
    height: 33px;
    width: 33px;
  }
  .ball-box{
      position: absolute;
      left: 900px;
      top: 500px;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      animation: movey 4s infinite linear;
      /* transform-origin: 100px 0 0; */
  }
  /* 平面旋转 */
  @keyframes circle{
      from{
          transform: rotate(0);
      }
      25%{
          z-index: 0;
      }
      50%{
          z-index: 0;
      }
      75%{
          z-index: 2;
      }
      to{
          z-index: 2;
          transform: rotate(360deg) ;
      }
  }
  /* 3D旋转 */
  @keyframes circle3d{
      from{
          transform: rotateY(0);
      }
      25%{
          z-index: 2;
      
      }
      50%{
          z-index: 2;
      
      }
      75%{
          z-index: 0;
      }
      to{
          z-index: 0;
          transform: rotateY(360deg);
      }
  }
  @keyframes scale{
      from{
          transform: scale(1,1);
      }
      50%{
          transform: scale(.5,.5);
      }
      to{
          transform: scale(1.5,1.5);
      }
  }
  .ball-wrap {
    position: absolute;
    top: 50px;
    width: 600px;
    height: 600px;
    align-items: center;
    justify-content: center;
  }
  
  .planet {
    position: absolute;
    // border: 2px solid #fff;
    transform-style: preserve-3d;
    width: 400px;
    height: 400px;
    // transform: rotateZ(45deg);
    border-radius: 50%;
    transform: scaleY(0.25) rotateZ(30deg);
    animation: planet-rotate 4s linear infinite;
  }
  
  .ball {
    width: 50px;
    height: 50px;
    position: absolute;
    left: calc(50% - 25px);
    top: -25px;
    border-radius: 50%;
    background-color: yellowgreen;
    // transform: rotateZ(-45deg); // 中和轨道的旋转,抵消
    transform: rotateZ(-30deg) scaleY(4);// 抵消缩放
    animation: self-rotate 4s linear infinite, ballColorChange 1s infinite;
    background: url('../assets/img/earch.svg') no-repeat 0 0;
    background-size: cover;
    // animation-play-state: ;
    box-shadow: 0 0 10px #0ebeff, 0 0 20px #0ebeff, 0 0 30px #0ebeff, 0 0 50px #0ebeff;

  }
  @keyframes ballColorChange {
    0% {
        filter: hue-rotate(60deg);
    }
    100% {
        filter: hue-rotate(60deg);
    }
  }
  // 公转动画
@keyframes planet-rotate {
    0% {
      transform:  scaleY(0.5) rotate(0);
    }
    100% {
      transform:  scaleY(0.5) rotate(360deg);
    }
  }
  
  // 自转动画
  @keyframes self-rotate {
    0% {
      transform: rotate(0) scaleY(2);
      z-index: 0;
    }
    40% {
      z-index: 2;
    }
    80% {
        z-index: 0;
    }
    100% {
      transform: rotate(-360deg) scaleY(2);
    }
  }
