$color-white: #fff;
$color-black: #000;

$font-size-xxl: 50px;
$font-size-xl: 40px;
$font-size-s: 12px;
$font-size-xs: 14px;
$font-size-xxs: 16px;
$font-size-m: 18px;
$font-size-xm: 20px;
$font-size-xxm: 22px;
$font-size-l: 24px;





$border-color-green: rgb(13, 233, 104);
$border-color-gray: rgb(167, 159, 159);