@import './layout.scss';
.projectList {
    height: 100%;
    width: 100%;
    background-color: $color-black;
    overflow: hidden;
}
.header {
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    width: 12rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(-135deg) translate(4px, -2px);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
   }
   
   button:hover .button-text {
    color: #fff;
   }
}
.list-wrap {
    width: 100%;
    height: calc(100% - 200px);
}
.light-animate {
    position: relative;
}
.list-item {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 150px;
   height: 150px;
   margin: 30px auto;
   border-radius: 32% 68% 61% 39% / 34% 44% 56% 66% ;
   z-index: 1;
   background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(230,50,50,1) 50%, rgba(219,150,52,1) 100%);
   animation: borderAnimate 2s infinite;
  

   &:first-child {
    transform: translate(-150px, 210px);
      &:hover {
        transition: all .5s;
        transform: translate(-150px, 210px) scale(1.5);
   }}

   &:nth-child(2) {
    transform: translate(50px, -100px);
    &:hover {
        transition: all .5s;
        transform: translate(50px, -100px) scale(1.5);
   }
   }
   &:nth-child(3) {
    transform: translate(80px, 0px);
      &:hover {
        transition: all .5s;
        transform: translate(80px, 0px) scale(1.5);
      }
   }

   &:hover {
      transition: all .8s;
      box-shadow:
      3.1px 2.2px 4.5px rgba(41, 179, 238, 0.048),
      7.4px 5.3px 10.8px rgba(24, 195, 242, 0.069),
      13.9px 10px 20.3px rgba(13, 229, 236, 0.085),
      24.8px 17.9px 36.2px rgba(7, 186, 226, 0.101),
      46.4px 33.4px 67.7px rgba(11, 206, 250, 0.122),
      111px 80px 162px rgba(15, 188, 241, 0.17),
      -13.9px 10px 20.3px rgba(13, 229, 236, 0.085),
      -24.8px 17.9px 36.2px rgba(7, 186, 226, 0.101),
      -46.4px 33.4px 67.7px rgba(11, 206, 250, 0.122),
      -111px 80px 162px rgba(15, 188, 241, 0.17),
  0px 0px 9px rgba(15, 188, 241, 0.17),
  0px 0px 21px rgba(15, 188, 241, 0.17),
  0px 0px 37.6px rgba(15, 188, 241, 0.17),
  0px 0px 62.5px rgba(15, 188, 241, 0.17),
  0px 0px 102.9px rgba(15, 188, 241, 0.17),
  0px 0px 179.8px rgba(15, 188, 241, 0.17),
  0px 0px 389px rgba(15, 188, 241, 0.17)
;

    ;
   }

   .item-label {
    font-size: $font-size-m;
    color: $color-white;
    text-align: center;
    line-height: 1;
   }

   .item-desc {
    font-size: $font-size-xs;
    color: $color-white;
    text-align: center;
   }

}
.light-animate:after {
   content: '';
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -5px) scale(100, 1);
   display: block;
   width: 8px;
   height: 2px;
   border-radius: 99999px;
   background-color: #000;
   z-index: 0;
   opacity: 0;
   transition: all .2;
   animation: light .08s forwards linear;
   box-shadow: 0 0 10px #0ebeff;
}
@keyframes light {
    0% {
        opacity: 0;
        transform: translate(-50%, -5px) scale(0, 1);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -5px) scale(100, 1);
    }
}
.btn-click-light {
    width: 300px;
    background-color: rgb(214, 22, 22);
}

@keyframes borderAnimate {
    0% {
        border-radius: 32% 68% 61% 39% / 34% 44% 56% 66% ;
    }

    25% {
       border-radius: 51% 49% 38% 62% / 37% 38% 62% 63% ;
    }

    50% {
        border-radius: 66% 34% 55% 45% / 26% 56% 44% 74% ;
    }

    75% {
        border-radius: 42% 58% 67% 33% / 62% 62% 38% 38% ;
    }
    100% {
        border-radius: 32% 68% 61% 39% / 34% 44% 56% 66% ;
    }
}

// 气泡底部

$bubble-color: #0ab6e6;
.footer {
    background: #000;
}
.g-container {
    width: 100%;
    height: 200px;
    overflow-y: hidden;
    opacity: .9;
}

.g-wrap {
    width: 100%;
    height: 100%;
    filter: contrast(16);
}

.g-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 86px;
    width: 100%;
    background: $bubble-color;
    
    &:before {
        content: "";
        position: absolute;
        top: -300px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        backdrop-filter: blur(5px);
    }
}

.g-bubble {
    position: absolute;
    border-radius: 50%;
    background-color: $bubble-color;
}

@for $i from 0 through 200 { 
    .g-bubble:nth-child(#{$i}) {
        $width: 30 + random(100) + px;
        left: #{(random(100)) + '%'};
        top: #{(30 + random(100))}px;
        width: $width;
        height: $width;
        animation: moveToTop #{(random(2500) + 1500) / 1000}s ease-in-out -#{random(5000)/1000}s infinite;
    }
}

@keyframes moveToTop {
    90% {
        opacity: 1;
    }
    100% {
        opacity: .08;
        transform: translate(-50%, -180px) scale(.3);
    }
}