@import './layout.scss';
.projectList {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: $color-black;
    cursor: url(../assets/cursor-1.png), auto;

}
.list-wrap {
}
.light-animate {
    position: relative;
}
.item-wrap {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 150px;
   height: 150px;
   margin: 30px auto;
   border-radius: 32% 68% 61% 39% / 34% 44% 56% 66% ;
   z-index: 1;
   background-image: linear-gradient(45deg,#3023AE 0%,#FF0099 100%);
   animation: borderAnimate 2s infinite;

   .list-item:first-child {
    transform: translate(50px);
   }

   &:hover {
      border: 1px solid $border-color-green;
   }

   .item-label {
    font-size: $font-size-m;
    color: $color-white;
    text-align: center;
    line-height: 1;
   }

   .item-desc {
    font-size: $font-size-xs;
    color: $color-white;
    text-align: center;
   }

}
.light-animate:after {
   content: '';
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -5px) scale(100, 1);
   display: block;
   width: 8px;
   height: 2px;
   border-radius: 99999px;
   background-color: white;
   z-index: 0;
   opacity: 0;
   transition: all .2;
   animation: light .08s forwards linear;
   box-shadow: 0 0 10px #0ebeff;
}
@keyframes light {
    0% {
        opacity: 0;
        transform: translate(-50%, -5px) scale(0, 1);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -5px) scale(100, 1);
    }
}
.btn-click-light {
    width: 300px;
    background-color: rgb(214, 22, 22);
}

@keyframes borderAnimate {
    0% {
        border-radius: 32% 68% 61% 39% / 34% 44% 56% 66% ;
    }

    25% {
       border-radius: 51% 49% 38% 62% / 37% 38% 62% 63% ;
    }

    50% {
        border-radius: 66% 34% 55% 45% / 26% 56% 44% 74% ;
    }

    75% {
        border-radius: 42% 58% 67% 33% / 62% 62% 38% 38% ;
    }
    100% {
       border-radius: 51% 49% 38% 62% / 49% 28% 72% 51% ;
    }
}