.demo-content {
  text-align: left;
}
.text-area-container {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(156, 150, 150);
}
textarea {
    height: 300px;
    width: 80%;
    border: 1px solid rgb(41, 167, 206);
}